* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

.container {
  display: flex;
  flex-wrap: wrap;
  max-width: 900px;
  margin: 0 auto;
}

header {
  flex: 1 1 100%;
  display: flex;
  flex-wrap: wrap;
  background-color: purple;
  height: auto;
}

main {
  flex: 1 1 20px;
  display: flex;
  flex-wrap: wrap;
  background-color: yellow;
  height: 1000px;
}

main div {
  flex: 1 1 100%;
  background-color: darkorange;
  margin: 10px;
  opacity: 0.1;
}

.pics {
  display: flex;
  flex-wrap: wrap;
}

.pics div {
  flex: 1 1 24%;
  width: 24%;
  background-color: black;
  height: 20px;
}

.sideBar {
  width: 250px;
  background-color: green;
}

.splitter {
  flex: 1 1 1px;
  display: flex;
}

.right {
  justify-content: flex-end;
}

.splitter div {
  background-color: darkturquoise;
  margin: 15px;
  height: 40px;
  justify-content: center;
  align-items: center;  
}

.right div {
  width: 40px;
}

p {
  margin: 7px;
}
