.container {
  display: flex;
  height: 500px;
  width: 100%;
  background-color: yellow;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 0;
}

.item {
  width: 200px;
  height: 200px;
  background-color: purple;
  text-decoration: none;
  margin-left: 15px;
}

li {
  list-style: none;
}
