* {
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-columns: 1fr 60% 1fr;
  grid-gap: 0.5rem;
  grid-template-rows: minmax(10rem, auto);
  padding: 0.5rem;
  background: blue;
}

div > div {
  background: aqua;
  text-align: center;
  line-height: 10rem;
  color: #fff;
  font-size: 2.5rem;
}
